@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.katalog__hero {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 290px;
  height: 420px;
  background-color: #fff;
}

.variables {
  margin-bottom: 110px;
}

.katalog {
  margin-left: 55px;
  margin-bottom: 100px;
}

.katalog__ph {
  padding-left: 85px;
}

.katalog__br {
  position: absolute;
  margin-top: -500px;
  display: flex;
}

.katalog__br a {
  margin-left: 1000px;
  color: #5c5b5b;
}

.katalog__br a img {
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
}

.katalog__br h3 {
  margin-left: 50px;
  font-size: 25px;
}

.katalog__13 {
  margin-left: 670px;
}

.katalog__img {
  width: 179px;
  height: 200px;
  margin-left: 30px;
  margin-top: -10px;
}

.katalog__list {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.katalog__h4 {
  font-size: 18px;
  color: #141414;
  line-height: 34px;
  margin-left: 20px;
}

.paragraph {
  margin-left: 20px;
  display: flex;
  font-size: 14px;
  gap: 115px;
  color: #626060;
  line-height: 34px;
}

.katalog__png {
  margin-left: 17px;
  display: flex;
  font-size: 14px;
  gap: 11px;
  color: #626060;
  line-height: 27px;
}

.katalog__png img {
  width: 15px;
  height: 15px;
  margin-top: 7px;
}

.katalog__png p {
  margin-left: 60px;
}

.katalog__hr {
  height: 2px;
  background-color: #5c5b5b;
  width: 215px;
  margin-left: 20px;
  margin-top: 15px;
}

.katalog__svg {
  display: flex;
  margin-left: 20px;
  gap: 143px;
  padding-top: 20px;
  line-height: 34px;
}

.container {
  width: 1925px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  width: 228px;
  height: 50px;
  background-color: #E8AA31;
  border: 3px solid #E8AA31;
  border-radius: 7px;
  color: #fff;
  font-size: 17px;
}

.btn-hero {
  width: 250px;
  height: 45px;
  margin-left: 20px;
  background-color: #E8AA31;
  border: 3px solid #E8AA31;
  font-size: 16px;
  line-height: 46px;
  color: #fff;
}

.btn-end {
  width: 236px;
  height: 40px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #E8AA31;
  border: 2px solid #E8AA31;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
}

button img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.header {
  height: 70px;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
}

.header ol {
  display: flex;
  gap: 60px;
  margin-left: 80px;
  align-items: center;
}

.anchor {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.header-right {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 520px;
}

.header-right img {
  width: 21px;
  height: 27px;
}

.header-right p {
  color: #fff;
  font-size: 18px;
}

.right-img {
  width: 40px;
  height: 20px;
  color: #000000;
}

.mackva {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.right {
  display: flex;
  justify-content: space-between;
  padding: 25px 170px 25px 0px;
}

.left {
  padding: 25px 170px 25px 170px;
  display: flex;
  gap: 128px;
}

.left img {
  width: 190px;
  height: 42px;
}

.left input {
  width: 350px;
  height: 41px;
  background-color: #f9f6f6;
  border-radius: 7px;
  border-color: #767070;
  padding-left: 50px;
}

.right-hero {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1380px;
  margin: 0 auto;
}

.hero__end ol {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.hero__end ol li a {
  color: #fff;
  font-size: 18px;
}

.hero {
  height: 70px;
  background-color: #141414;
  padding-left: 130px;
  padding-top: 23px;
}

.hero__a {
  color: #E8AA31;
}

.logo__hero {
  width: 447px;
  height: 400px;
  position: absolute;
  margin-left: 100px;
}

.services {
  background-color: #272626;
  height: 608px;
}

.mask h2 {
  font-size: 36px;
  color: #fff;
}

.mask__left {
  margin-left: 50px;
}

.mask {
  display: flex;
}

.mask h3 {
  font-size: 30px;
  line-height: 46px;
  color: #fff;
}

.mask p {
  width: 715px;
  height: 90px;
  letter-spacing: 3%;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.mask__right {
  position: relative;
}

.logo__end {
  position: absolute;
  margin-top: 38px;
  width: 400px;
  height: 373px;
  margin-left: 300px;
}

.mask__ol {
  position: absolute;
  padding-top: 500px;
  display: flex;
  margin-top: 200px;
  text-align: center;
}

.mask__li {
  margin-left: 120px;
  align-items: center;
}

.mask__ol img {
  color: #fff;
}

.mask__ol p {
  font-size: 20px;
  color: #fff;
  line-height: 32px;
}

.address {
  width: 100%;
  background-color: rgb(245, 241, 241);
  height: 90px;
}

.address__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  gap: 5.5rem;
  padding: 25px;
}

.search {
  margin-left: 50px;
}

.search input {
  width: 300px;
  height: 31px;
  border-radius: 7px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(253, 247, 247);
  font-size: 14px;
}

.search-btn {
  position: relative;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.fa-solid.fa-magnifying-glass {
  padding-left: 20px;
  position: absolute;
  top: -10px;
  left: 10px;
}

.search-d[placeholder] {
  padding-left: 50px;
}

.addres__map {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left: 150px;
}

.map i {
  align-items: center;
  padding-top: 12px;
}

.tel__d {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.tel__r {
  font-size: 18px;
  line-height: 22px;
  color: #E8AA31;
}

.solid {
  display: flex;
}

.solid__zakas {
  flex-direction: column;
  align-items: center;
}

.solid i {
  width: 37px;
  height: 35px;
  font-size: 30px;
  padding-right: 40px;
  padding-top: 7px;
  border-color: #000000;
}

.bleik {
  color: #000000;
  font-size: 20px;
}

.regular {
  font-size: 30px;
}

.zlatmax {
  background-color: 0;
  padding-bottom: 120px;
}

.holor-dd {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.holor-dd {
  position: relative;
  width: 390px;
  height: 253px;
}

.holor-d {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 55px;
  gap: 30px;
  margin-top: 100px;
}

.holor-img {
  position: absolute;
  width: 283px;
  height: 236px;
  margin-left: 150px;
  margin-top: -210px;
}

.holor__imgs {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: -174px;
  margin-left: 190px;
}

.holor-img-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: -174px;
  margin-left: 180px;
}

.holor-img-2 {
  position: absolute;
  width: 250px;
  height: 190px;
  margin-top: -163px;
  margin-left: 140px;
}

.holor-img-4 {
  position: absolute;
  width: 267px;
  height: 200px;
  margin-top: -174px;
  margin-left: 140px;
}

.holor-dd h4 {
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  letter-spacing: 0%;
  margin-left: 30px;
  margin-top: 30px;
}

.holor-hr {
  height: 2px;
  background-color: #E8AA31;
  width: 68px;
  margin-left: 30px;
  margin-top: 15px;
}

.holor-rr {
  margin-left: 50px;
  margin-top: 44px;
  list-style-type: none;
}
.holor-rr .holor__item {
  font-size: 18px;
  line-height: 34px;
}

.holor__item::before {
  content: "•";
  color: #E8AA31;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.Новинки {
  background-image: url(/imags/Mask\ Group.png);
  height: 561px;
  margin-bottom: 150px;
}

.artage__left h4 {
  font-size: 30px;
  margin-left: 40px;
  color: #fff;
  margin-left: 50px;
  margin-top: 18px;
}

.artage {
  display: flex;
}

.artage__mask {
  z-index: -1;
  position: absolute;
  margin-top: -500px;
  margin-left: -980px;
  width: 700px;
  height: 585px;
}

.artage__png {
  margin-left: 830px;
  margin-top: 22px;
}

.artage__svg {
  margin-left: 50px;
  font-size: 20px;
  line-height: 46px;
  color: #E8AA31;
}

.artage__jpg {
  position: absolute;
  margin-left: 15px;
  margin-top: 17px;
  font-weight: 200px;
}

.artage__left p {
  width: 270px;
  height: 240px;
  line-height: 27px;
  font-size: 18px;
  color: #fff;
  margin-left: 50px;
  margin-top: 65px;
}

.artage__right ol {
  display: flex;
  margin-left: 52px;
  margin-top: 55px;
  gap: 30px;
}

.Фонара {
  margin-bottom: 150px;
}

.fanar__hero {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 290px;
  height: 270px;
}

.fanar__hero img {
  width: 290px;
  height: 150px;
}

.Fanar {
  margin-left: 50px;
}

.Fanar ol {
  display: flex;
  gap: 30px;
}

.fanar__dd {
  font-size: 16px;
  color: #ABABAB;
  line-height: 34px;
  margin-left: 20px;
}

.Fanar h4 {
  position: absolute;
  font-size: 30px;
  line-height: 46px;
  margin-top: -50px;
}

.Fanar p {
  font-size: 20px;
  line-height: 34px;
  color: #000;
  margin-left: 20px;
  margin-top: 10px;
}

.fanar__end {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 612px;
  height: 210px;
  display: flex;
}

.fonar {
  width: 280px;
  height: 200px;
  margin-left: 70px;
  margin-top: 10px;
}

.fonar1 {
  width: 320px;
  height: 200px;
  margin-left: 26px;
  margin-top: 10px;
}

.fanar__end h4 {
  font-size: 24px;
  line-height: 34px;
  margin-left: 30px;
}

.fanar__end p {
  font-size: 18px;
  line-height: 27px;
  margin-left: 30px;
}

.lorem {
  height: 2px;
  background-color: #E8AA31;
  width: 68px;
  margin-left: 30px;
  margin-top: 15px;
}

.fanar__start {
  margin-top: 100px;
  margin-left: 117px;
}

.fanar__start ul {
  display: flex;
  gap: 30px;
}/*# sourceMappingURL=main.css.map */