.Фонара{
    margin-bottom: 150px;
}


.fanar__hero{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 290px;
    height: 270px;
}

.fanar__hero img{
    width: 290px;
    height: 150px;
}

.Fanar{
    margin-left: 50px;
}

.Fanar ol{
    display: flex;
    gap: 30px;
}

.fanar__dd{
    font-size: 16px;
    color: #ABABAB;
    line-height: 34px;
    margin-left: 20px;
}

.Fanar h4{
    position: absolute;
    font-size: 30px;
    line-height: 46px;
    margin-top: -50px;
}

.Fanar p{
    font-size: 20px;
    line-height: 34px;
    color: #000;
    margin-left: 20px;
    margin-top: 10px;
}

.fanar__end{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 612px;
    height: 210px;
    display: flex;
}

.fonar{
    width: 280px;
    height: 200px;
    margin-left: 70px;
    margin-top: 10px;
}

.fonar1{
    width: 320px;
    height: 200px;
    margin-left: 26px;
    margin-top: 10px; 
}

.fanar__end h4{
    font-size: 24px;
    line-height: 34px;
    margin-left: 30px;
}

.fanar__end p{
    font-size: 18px;
    line-height: 27px;
    margin-left: 30px;
}

.lorem{
    height: 2px;
    background-color: #E8AA31;
    width: 68px;
    margin-left: 30px;
    margin-top: 15px;
}

.fanar__start{
    margin-top: 100px;
    margin-left: 117px;
    
}

.fanar__start ul{
    display: flex;
    gap: 30px;
}